.word-translation-box {
  // 定位相关
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  
  // 尺寸和间距
  min-width: 300px;
  padding: 12px 20px;
  gap: 15px;
  
  // 外观样式
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  border-radius: 8px;
  border: 2px solid #1890ff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  
  // 布局
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

// 悬浮字幕
.english-subtitle {
  position: absolute;
  bottom: 20vh;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 12px 20px;
  border-radius: 8px;
  max-width: 80%;
  text-align: center;
  // border: 2px solid #0e639c;
  z-index: 100;
}

// ---------------------------------------------  视频列表

.playlist-items {
  flex: 1;
  overflow-y: auto;
  min-height: 0;
}